/*body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #444;
    font-size: 100%;
}

.logo {
    width: 100px;
    float: left;
}

a:hover {
    text-decoration: underline;
}

nav {
    width: 50%;
    float: right;
}

nav ul {
    float: right;
}

nav li {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
    color: #81B622;
}

nav li a {
    color: #999;
}

.bara {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: #460812;
    height: 90px;
}

.menu {
    text-decoration: none;
    font-size: 16px;
    color: #fdfdfd;
}*/


/* a {
    text-decoration: none;
    font-size: 16px;
    color: #460812;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
}

nav {
    width: 840px;
    float: center;
}

nav ul {
    float: right;
}

nav li {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
}

nav li a {
    color: rgb(65, 9, 9);
} */


/*font-size: 70px;
    text-align: center;
    color: brown;*/