<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Daniele Zanão, João Santos e Polyanna Morais Barreto">
    <meta name="keywoeds" content="biblioteca, emprestimo, livro, cadastro">
    <meta name="description" content="Site de emprestimo de uma biblioteca">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- <link rel="stylesheet" href="js/script.js"> -->
</head>

<body>
    <div class="bara">
        <header>
            <h3 class="bemvindo">Biblioteca</h3>
            <div class="header"><img src="img/logo.png" alt="imagem livro" class="logo"></div>
        </header>
    </div>

    <div class="topo">
        <div class="form">
            <h2>Cadastro de Usuario</h2>
            <input id="nome-completo" placeholder="Nome Completo" type="text" onblur="validaNome(this.id)" />
            <input id="data-nascimento" placeholder="Data de Nascimento" type="date" onblur="validaData(this.id)" />
            <input id="email" placeholder="Email" type="email" onblur="validaEmail(this.id)" />
            <button onclick="cadastrar()">Cadastrar</button>
            <p>Ir para <a href="listar.html">lista de usuários</a></p>
        </div>


        <div class="formlivro">
            <h2>Cadastro de Livro</h2>
            <input id="nome" placeholder="Nome do livro" type="text" onblur="validaNomeLivro(this.id)" />
            <input id="autor" placeholder="Nome do autor" type="text" onblur="validaNomeAutor(this.id)" />
            <input id="genero" placeholder="Genero do livro" type="text" onblur="validaGenero(this.id)" />
            <input id="ano" placeholder="Ano de lançamento" type="text" onblur="validaDataLivro(this.id)" />
            <button onclick="cadastrarlivro()">Cadastrar</button>
            <p>Ir para <a href="listar2.html">lista de livros</a></p>
        </div>

        <div class="formemprestimo">
            <h2>Emprestimo de Livro</h2>
            <button onclick="listarEmprestimo()">Listar opções</button>

            <select id="lista-livros">
                <option id=""></option>
            </select>
            <select id="lista-leitores">
                <option id=""></option>
            </select>
            <h2>Data de Emprestimo</h2>
            <input id="data-emprestimo" placeholder="Data de Nascimento" type="date"
                onblur="validaDataEmprestimo(this.id)" />
            <div>
                <button onclick="cadastrarEmprestimo()">Cadastrar Emprestimo</button>
            </div>
            <p>Ir para <a href="listar3.html">lista emprestimos</a></p>
        </div>
    </div>
</body>

</html>

<script>
    var url = 'http://localhost:3000/'


    function cadastrar() {
        //validacao de alguns dos inputs

        if (!validaNome('nome-completo')) {
            return
        }

        if (!validaData('data-nascimento')) {
            return
        }
        if (!validaEmail('email')) {
            return
        }

        let novaData = new Date(document.getElementById('data-nascimento').value);
        let body =
        {
            'Nome': document.getElementById('nome-completo').value,
            'dataNascimento': novaData.toJSON(),
            'Email': document.getElementById('email').value,
        }

        fetch(url + "api/Leitor",
            {
                'method': 'POST',
                'redirect': 'follow',
                'headers':
                {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                'body': JSON.stringify(body)
            })
            //checa se requisicao deu certo
            .then((response) => {
                if (response.ok) {
                    return response.text()
                }
                else {
                    return response.text().then((text) => {
                        throw new Error(text)
                    })
                }
            })
            //trata resposta
            .then((output) => {
                console.log(output)
                alert('Cadastro realizado com sucesso!')
            })
            //trata erro
            .catch((error) => {
                console.log(error)
                alert('Não foi possível realizar o cadastro.')
            })


    }
    function validaNome(id) {
        let divNome = document.getElementById(id)
        if (divNome.value.trim().split(' ').length >= 2) {
            divNome.style.border = 0
            return true
        }
        else {
            divNome.style.border = 'solid 1px red'
            return false
        }
    }

    function validaData(id) {
        let divData = document.getElementById(id)
        if (divData.value.length > 0) {
            divData.style.border = 0
            return true
        }
        else {
            divData.style.border = 'solid 1px red'
            return false
        }
    }

    function validaEmail(id) {
        let divEmail = document.getElementById(id)
        // console.log(divEmail)
        let email = divEmail.value
        let temEspecial = (/[@]/).test(email)
        if (temEspecial) {
            divEmail.style.border = 0
            return true
        }
        else {
            divEmail.style.border = 'solid 1px red'
            return false
        }
    }

    //////////////////////////Livro////////////////////////////////////////////////////////
    var url = 'http://localhost:3000/'


    function cadastrarlivro() {
        //validacao de alguns dos inputs

        if (!validaNomeLivro('nome')) {
            return
        }

        if (!validaNomeAutor('autor')) {
            return
        }

        if (!validaGenero('genero')) {
            return
        }

        if (!validaDataLivro('ano')) {
            return
        }


        let body =
        {
            'Nome': document.getElementById('nome').value,
            'Autor': document.getElementById('autor').value,
            'Genero': document.getElementById('genero').value,
            'Ano': document.getElementById('ano').value,
        }

        fetch(url + "api/Livro",
            {
                'method': 'POST',
                'redirect': 'follow',
                'headers':
                {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                'body': JSON.stringify(body)
            })
            //checa se requisicao deu certo
            .then((response) => {
                if (response.ok) {
                    return response.text()
                }
                else {
                    return response.text().then((text) => {
                        throw new Error(text)
                    })
                }
            })
            //trata resposta
            .then((output) => {
                console.log(output)
                alert('Cadastro realizado com sucesso!')
            })
            //trata erro
            .catch((error) => {
                console.log(error)
                alert('Não foi possível realizar o cadastro.')
            })


    }
    function validaNomeLivro(id) {
        let divNomeLivro = document.getElementById(id)
        if (divNomeLivro.value.trim().split('').length >= 1) {
            divNomeLivro.style.border = 0
            return true
        }
        else {
            divNomeLivro.style.border = 'solid 1px red'
            return false
        }
    }

    function validaNomeAutor(id) {
        let divNomeAutor = document.getElementById(id)
        if (divNomeAutor.value.trim().split(' ').length >= 2) {
            divNomeAutor.style.border = 0
            return true
        }
        else {
            divNomeAutor.style.border = 'solid 1px red'
            return false
        }
    }

    function validaGenero(id) {
        let divNomeGenero = document.getElementById(id)
        if (divNomeGenero.value.trim().split('').length >= 1) {
            divNomeGenero.style.border = 0
            return true
        }
        else {
            divNomeGenero.style.border = 'solid 1px red'
            return false
        }
    }

    function validaDataLivro(id) {
        let divDataLivro = document.getElementById(id)
        if (divDataLivro.value.length > 0) {
            divDataLivro.style.border = 0
            return true
        }
        else {
            divDataLivro.style.border = 'solid 1px red'
            return false
        }
    }

    ///////////////////////////////emprestimo///////////////////////

    var url = 'http://localhost:3000/'
    function listarEmprestimo() {
        //da um GET no endpoint "usuarios"
        fetch(url + 'api/Livro')
            .then(response => response.json())
            .then((Livros) => {
                //pega div que vai conter a lista de usuarios
                let listarLivros = document.getElementById('lista-livros')

                //limpa div
                while (listarLivros.firstChild) {
                    listarLivros.removeChild(listarLivros.firstChild)
                }

                //preenche com usuarios recebidos do GET ////AQUI Dani
                for (let livro of Livros) {
                    //cria div para as informacoes de um usuario
                    let optLivro = document.createElement('option')
                    optLivro.innerHTML = livro.nome
                    optLivro.value = livro.id
                    listarLivros.appendChild(optLivro)
                }
            })
        ////////////////////
        fetch(url + 'api/Leitor')
            .then(response => response.json())
            .then((Leitores) => {
                //pega div que vai conter a lista de usuarios
                let listaLeitores = document.getElementById('lista-leitores')

                //limpa div
                while (listaLeitores.firstChild) {
                    listaLeitores.removeChild(listaLeitores.firstChild)
                }

                for (let leitor of Leitores) {
                    //cria div para as informacoes de um usuario
                    let optLeitor = document.createElement('option')
                    optLeitor.innerHTML = leitor.nome
                    optLeitor.value = leitor.id
                    listaLeitores.appendChild(optLeitor)
                }


            })
    }
    function cadastrarEmprestimo() {

        if (!validaDataEmprestimo('data-emprestimo')) {
            return
        }
        // if(!validacaoDisponibilidade()){
        //     return
        // }

        let novaData = new Date(document.getElementById('data-emprestimo').value);
        let body =
        {
            'id_leitor': document.getElementById('lista-leitores').value,
            'id_livro': document.getElementById('lista-livros').value,
            'dataEmprestimo': novaData.toJSON(),

        }

        fetch(url + "api/Emprestimo",
            {
                'method': 'POST',
                'redirect': 'follow',
                'headers':
                {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                'body': JSON.stringify(body)
            })
            //checa se requisicao deu certo
            .then((response) => {
                if (response.ok) {
                    return response.text()
                }
                else {
                    return response.text().then((text) => {
                        throw new Error(text)
                    })
                }
            })
            //trata resposta
            .then((output) => {
                console.log(output)
                alert('Cadastro realizado com sucesso!')
            })
            //trata erro
            .catch((error) => {
                console.log(error)
                alert('Não foi possível realizar o cadastro.')
            })
    }

    function validaDataEmprestimo(id) {
        let divData = document.getElementById(id)
        if (divData.value.length > 0) {
            divData.style.border = 0
            return true
        }
        else {
            divData.style.border = 'solid 1px red'
            return false
        }
    }

    // function validacaoDisponibilidade{
    //     if (dataDevolucao == "0001-01-01T00:00:00") {
    //         alert("O livro ja foi emprestado")
    //     } else {
    //         return cadastrarEmprestimo
    //     }
    // }

</script>






//
<!-- <select id="">

// </select>

// criar uma div no javascript 

// FAZER UM <OPTION></OPTION>

// UMA DROP  -->