<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Biblioteca</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- <script src="index.html"></script> -->
</head>


<body>
    <div class="formlivro">
        <button onclick="listarLivros()">Listar Livros</button>
        <div id="lista-livros"></div>
        <p>Ir para <a href="index.html">Cadastro de Livros</a></p>
    </div>
</body>

</html>

<script>
    var url = 'http://localhost:3000/'
    function listarLivros() {
        //da um GET no endpoint "usuarios"
        fetch(url + 'api/Livro')
            .then(response => response.json())
            .then((Livros) => {
                //pega div que vai conter a lista de usuarios
                let listarLivros = document.getElementById('lista-livros')

                //limpa div
                while (listarLivros.firstChild) {
                    listarLivros.removeChild(listarLivros.firstChild)
                }

                //preenche div com usuarios recebidos do GET ////AQUI Dani
                for (let livro of Livros) {
                    //cria div para as informacoes de um usuario
                    let divLivro = document.createElement('div')
                    divLivro.setAttribute('class', 'form')

                    //pega o nome do usuario
                    let divNome = document.createElement('input')
                    divNome.placeholder = 'Nome Completo'
                    divNome.value = livro.nome
                    divLivro.appendChild(divNome)

                    let divNomeAutor = document.createElement('input')
                    divNomeAutor.placeholder = 'Autor'
                    divNomeAutor.value = livro.autor
                    divLivro.appendChild(divNomeAutor)

                    let divNomeGenero = document.createElement('input')
                    divNomeGenero.placeholder = 'Genero'
                    divNomeGenero.value = livro.genero
                    divLivro.appendChild(divNomeGenero)

                    let divAno = document.createElement('input')
                    divAno.placeholder = 'Ano'
                    divAno.value = livro.ano
                    divLivro.appendChild(divAno)

                    //cria o botao para remover o usuario
                    let btnRemover = document.createElement('button')
                    btnRemover.innerHTML = 'Remover'
                    btnRemover.onclick = u => remover(livro.id)
                    btnRemover.style.marginRight = '5px'

                    //cria o botao para atualizar o usuario
                    let btnAtualizar = document.createElement('button')
                    btnAtualizar.innerHTML = 'Atualizar'
                    btnAtualizar.onclick = u => atualizar(livro.id, divNome, divNomeAutor, divNomeGenero, divAno)
                    btnAtualizar.style.marginLeft = '5px'

                    //cria a div com os dois botoes
                    let divBotoes = document.createElement('div')
                    divBotoes.style.dissplay = 'flex'
                    // divBotoes.appendChild(btnRemover)
                    divBotoes.appendChild(btnAtualizar)
                    divLivro.appendChild(divBotoes)

                    //insere a div do usuario na div com a lista de usuarios
                    listarLivros.appendChild(divLivro)
                }
            })
    }

    function atualizar(id, divNome, divNomeAutor, divNomeGenero) {
        let body =
        {
            'Nome': divNome.value,
            'Autor': divNomeAutor.value,
            'Genero': divNomeGenero.value
        }

        fetch(url + "api/Livro/" + id,
            {
                'method': 'PUT',
                'redirect': 'follow',
                'headers':
                {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                'body': JSON.stringify(body)
            })
            .then((response) => {
                if (response.ok) {
                    return response.text()
                }
                else {
                    return response.text().then((text) => {
                        throw new Error(text)
                    })
                }
            })
            .then((output) => {
                listarLivros()
                console.log(output)
                alert('Usuário atualizado! \\o/')
            })
            .catch((error) => {
                console.log(error)
                alert('Não foi possível atualizar o usuário :/')
            })
    }

    // function remover(id) {
    //     fetch(url + 'api/Leitor/' + id,
    //         {
    //             'method': 'DELETE',
    //             'redirect': 'follow'
    //         })
    //         .then((response) => {
    //             if (response.ok) {
    //                 return response.text()
    //             }
    //             else {
    //                 return response.text().then((text) => {
    //                     throw new Error(text)
    //                 })
    //             }
    //         })
    //         .then((output) => {
    //             listar()
    //             console.log(output)
    //             alert('Usuário removido! >=]')
    //         })
    //         .catch((error) => {
    //             console.log(error)
    //             alert('Não foi possível remover o usuário :/')
    //         })
    // }

</script>