<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Biblioteca</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- <script src="index.html"></script> -->
</head>


<body>
    <div class="formlivro">
        <button onclick="listarEmprestimos()">Listar Livros</button>
        <div id="lista-emprestimos"></div>
        <p>Ir para <a href="index.html">Cadastro de Livros</a></p>
    </div>
</body>

</html>

<script>
    var url = 'http://localhost:3000/'
    function listarEmprestimos() {

        //da um GET no endpoint "usuarios"
        fetch(url + 'api/Emprestimo')
            .then(response => response.json())
            .then((Emprestimos) => {

                let listarEmprestimos = document.getElementById('lista-emprestimos')


                while (listarEmprestimos.firstChild) {
                    listarEmprestimos.removeChild(listarEmprestimos.firstChild)
                }
                Emprestimos.forEach(emprestimo => {

                    //cria div para as informacoes de um usuario
                    let divEmprestimo = document.createElement('div')
                    divEmprestimo.setAttribute('class', 'form')
                    divEmprestimo.setAttribute('id', emprestimo.id);
                    //Cria input nome usuario
                    let divLeitor = document.createElement('input')
                    //add titulo livro input
                    let divLivro = document.createElement('input')



                    //--------------- Consulta leitor / id ---------------------
                    fetch(url + 'api/Leitor/' + emprestimo.id_leitor)
                        .then(response => response.json())
                        .then((Leitor) => {
                            //add nome input nome usuario
                            divLeitor.placeholder = 'Nome Leitor'
                            divLeitor.value = Leitor.nome;

                        })
                        .catch((err) => {
                            console.error(err);
                            divLeitor.value = "Usuario não encontrado";
                        });
                    //--------------------------------------------------------------


                    //----------------- Consulta livro id --------------------------
                    fetch(url + 'api/Livro/' + emprestimo.id_livro)
                        .then(response => response.json())
                        .then((Livro) => {
                            //add titulo livro input
                            divLivro.placeholder = 'Titulo Livro'
                            divLivro.value = Livro.nome;

                        })
                        .catch((err) => {
                            console.error(err);
                            divLivro.value = "Livro não encontrado"
                        });

                    //---------------------------------------------------------------

                    divEmprestimo.appendChild(divLeitor)
                    divEmprestimo.appendChild(divLivro)

                    let divDataEmp = document.createElement('input')
                    divDataEmp.type = "date";
                    divDataEmp.placeholder = 'Data Emprestimo'
                    divDataEmp.value = emprestimo.dataEmprestimo.slice(0, 10);
                    divDataEmp.setAttribute("id", emprestimo.id + "-empDev");
                    divEmprestimo.appendChild(divDataEmp)

                    let divDataDev = document.createElement('input')
                    divDataDev.placeholder = 'Data Devolucao'
                    if (emprestimo.dataDevolucao == "0001-01-01T00:00:00") {
                        divDataDev.value = emprestimo.dataDevolucao.slice(0, 10);
                        divDataDev.style.border = 'solid 1px Goldenrod'
                        divDataDev.setAttribute("id", emprestimo.id + "-dtDev");
                        divDataDev.type = "date";
                    } else {
                        divDataDev.type = "date";
                        divDataDev.value = emprestimo.dataDevolucao.slice(0, 10);
                        divDataDev.style.border = 0
                    }
                    divEmprestimo.value = emprestimo.dataDevolucao.slice(0, 10);
                    divEmprestimo.appendChild(divDataDev)


                    let divBotoes = document.createElement('div')
                    divBotoes.style.dissplay = 'flex'

                    //botoes de remover
                    let btnRemover = document.createElement('button')
                    btnRemover.innerHTML = 'Remover';
                    btnRemover.onclick = u => remover(emprestimo.id)
                    btnRemover.style.marginRight = '5px'

                    //cria o botao para atualizar o usuario
                    let btnAtualizar = document.createElement('button')
                    btnAtualizar.innerHTML = 'Atualizar'
                    btnAtualizar.onclick = u => atualizarEmprestimo(emprestimo.id)
                    btnAtualizar.style.marginLeft = '5px'


                    divBotoes.appendChild(btnRemover)
                    divBotoes.appendChild(btnAtualizar)
                    divEmprestimo.appendChild(divBotoes)

                    listarEmprestimos.appendChild(divEmprestimo)
                })

            })
    }
    function remover(id) {
        fetch(url + 'api/Emprestimo/' + id,
            {
                'method': 'DELETE',
                'redirect': 'follow'
            })
            .then((response) => {
                if (response.ok) {
                    return response.text()
                }
                else {
                    return response.text().then((text) => {
                        throw new Error(text)
                    })
                }
            })
            .then((output) => {
                listarEmprestimos()
                console.log(output)
                alert('Emprestimo removido.')
            })
            .catch((error) => {
                console.log(error)
                alert('Não foi possível remover o registro do emprestimo.')
            })
    }
    function atualizarEmprestimo(id) {
        let idLeitorEmprestimo;
        let idLivroEmprestimo;
        fetch(url + 'api/Emprestimo/' + id)
            .then(response => response.json())
            .then((Emprestimo) => {
                idLivroEmprestimo = Emprestimo.id_livro;
                idLeitorEmprestimo = Emprestimo.id_leitor;

                let NovaDataDev = document.getElementById(id + "-dtDev")
                let NovaDataEmp = document.getElementById(id + "-empDev")

                let novaEmp = new Date(NovaDataDev.value);
                let novaDev = new Date(NovaDataEmp.value);
                console.log("NovaDev" + novaDev.toJSON())
                let body =
                {
                    "id_livro": idLivroEmprestimo,
                    "id_leitor": idLeitorEmprestimo,
                    'dataEmprestimo': novaEmp.toJSON(),
                    'dataDevolucao': novaDev.toJSON(),
                }
                console.log(body);
                fetch(url + "api/Emprestimo/" + id,
                    {
                        'method': 'PUT',
                        'redirect': 'follow',
                        'headers':
                        {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        'body': JSON.stringify(body)
                    })
                    .then((response) => {
                        if (response.ok) {
                            return response.text()
                        }
                        else {
                            return response.text().then((text) => {
                                throw new Error(text)
                            })
                        }
                    })
                    .catch((err) => {
                        console.error(err);
                    })
                    .then((output) => {
                        listarEmprestimos()
                        console.log(output)
                        alert('Leitor atualizado.')
                    })
                    .catch((error) => {
                        console.log(error)
                        alert('Não foi possível atualizar o leitor.')
                    })
            })
            .catch((error) => {

            });



    }
</script>